{% extends 'customer/base.html' %}{% block content %} {% for video in videos %}
<article class="media content-section">
    <div class="media-body">
        <h3 class="article-title"><u>{{ video.title }}</u>
        </h3>
        <h4 class="article-title">{{ video.categories }}</h4>
        <video controls controlsList="nodownload" poster="{{ object.thumbnai.url }}" src="{{ video.content.url }}" width="400" height="200">
            Sorry. Your browser doesnot support embeded videos
        </video>
        <div class="article-metadata">
            <small class="text-muted">{{ video.date|date:"F d, Y" }}</small>
        </div>
    </div>
</article>
{% endfor %} {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-infor mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-infor mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-outline-infor mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}
        <a class="btn btn-outline-infor mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

     {% if page_obj.has_next %}
      <a class="btn btn-outline-infor mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-infor mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}

{% endblock %}