{% extends 'blogs/base.html' %} {% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="" src="media/profile_pic/news.jpg">
            <p>
                The vbn mangemnent website deals with writing blogs , uploadinh video and latest news for the subscribed user to enjoy and watching video on trend and reading latest news the user should subscribe to get full package of all 3 items make your
            </p>


        </div>

    </div>
</article>
{% endblock content %}